html, body {
    background-color: #000;
    color: #fff;
    overflow: hidden;
}

* {
    font-family: 'Poppins';
    color: #fff;
    text-align: center;
}

@viewport {
    zoom: 1.0;
    width: extend-to-zoom;
}

@-ms-viewport {
    zoom: 1.0;
    width: extend-to-zoom;
}

#v {
    position: relative;
    right: 800px;
    animation: lvl 3s ease-in-out;
    padding: 0px
}

#rightL {
    position: relative;
    bottom: 800px;
    animation: rightL 4s ease-in-out;
    padding: 0px;
    right: 23rem;
}

#leftL {
    position: relative;
    animation: lvl 2s ease-in-out;
    padding: 0px
}

#LvL {
    position: relative;
    left: 400px;
    transition: opacity 0.4s ease-in-out;
    -webkit-transition: opacity 0.4s ease-in-out;
    -moz-transition: opacity 0.4s ease-in-out;
    -ms-transition: opacity 0.4s ease-in-out;
    -o-transition: opacity 0.4s ease-in-out;
}

#LvL.fade {
    opacity: 0;
}

#main {
    opacity: 0;
    transition: opacity 0.6s ease-in-out;
    -webkit-transition: opacity 0.6s ease-in-out;
    -moz-transition: opacity 0.6s ease-in-out;
    -ms-transition: opacity 0.6s ease-in-out;
    -o-transition: opacity 0.6s ease-in-out;
    align-items: center;
    align-content: center;
    justify-content: center;
    text-align: center;
}

#main.fade2 {
    opacity: 1;
}

#desc {
    opacity: 0;
    transition: opacity 0.6s ease-in-out;
    -webkit-transition: opacity 0.6s ease-in-out;
    -moz-transition: opacity 0.6s ease-in-out;
    -ms-transition: opacity 0.6s ease-in-out;
    -o-transition: opacity 0.6s ease-in-out;
}

#desc.fade3 {
    opacity: 1;
}

@keyframes lvl {
    from {
        top: -5000px;
    }

    to {
        top: 0px;
    }
}

@keyframes rightL {
    from {
        bottom: 2000px;
    }

    to {
        bottom: 800px;
    }
}

#buttons {
    display: none;
    opacity: 0;
    transition: opacity 0.6s ease-in-out;
    -webkit-transition: opacity 0.6s ease-in-out;
    -moz-transition: opacity 0.6s ease-in-out;
    -ms-transition: opacity 0.6s ease-in-out;
    -o-transition: opacity 0.6s ease-in-out;
}

#buttons.fade4 {
    display: unset;
}

#twitter {
    background-color: #00bfff;
    border: none;
    outline: none;
    font-size: 30px;
    border-radius: 2px;
    transition: 0.4s;
    cursor: pointer;
    padding-bottom: 5px
}

#yt {
    background-color: #ff0000;
    border: none;
    outline: none;
    font-size: 30px;
    border-radius: 2px;
    transition: 0.4s;
    cursor: pointer
}

#yt:hover {
    background-color: #fff;
    color: #f00;
}

#twitter:hover {
    background-color: #fff;
    color: #00bfff;
}

#css {
    background-color: #ff5e00;
    border: none;
    outline: none;
    font-size: 30px;
    border-radius: 2px;
    transition: 0.4s;
    cursor: pointer;
}

#css:hover {
    background-color: #fff;
    color: #ff5e00;
}

#twitter img {
    width: 40px;
    height: 40px;
    float: left;
    top: 3px;
    position: relative;
}

#yt img {
    width: 50px;
    height: 50px;
    float: left;
}

#css img {
    width: 50px;
    height: 50px;
    float: left;
}

#bh {
    background-color: #1f5bff;
    border: none;
    outline: none;
    font-size: 30px;
    border-radius: 2px;
    transition: 0.4s;
    cursor: pointer;
    padding-bottom: 5px
}

#bh:hover {
    background-color: #fff;
    color: #1f5bff;
}

#bh img {
    width: 40px;
    height: 40px;
    float: left;
    top: 3px;
    position: relative;
}

