html, body {
    background-color: #000;
    max-height: 4000px;
}

@font-face {
    font-family: 'FFF Forward';
    src: url(https://cdn.discordapp.com/attachments/699663156011729023/740592608287391914/FFFFORWA.TTF);
}

* {
    font-family: 'FFF Forward';
    src: url(https://cdn.discordapp.com/attachments/699663156011729023/740592608287391914/FFFFORWA.TTF)
}

#lvl {
    background-color: #ff6600;
    width: 600px;
    max-height: 400px;
    text-align: center;
    margin-left: 650px;
    font-size: 37px;
    color: #ff0;
    overflow: hidden;
    -webkit-transition: max-height 0.7s;
    -moz-transition: max-height 0.7s;
    transition: max-height 0.7s;
    border-radius: 20px
}

#lvl.open {
     max-height: 1100px;
     -webkit-transition: max-height 0.7s;
     -moz-transition: max-height 0.7s;
     transition: max-height 0.7s;
}

#moreBtn {
    background-color: #ff6600;
    border: #ff6600;
    color: #ff0;
    font-size: 30px;
    margin-left: 300px;
    border-radius: 10px;
    box-shadow: 0px 3px 0px 0px yellow;
    transform: scale 4s
}

#moreBtn:hover {
    cursor: pointer;
    transform: scale(1.1)
}

#behance {
    background-color: #ff6600;
    border: #ff6600;
    color: #ff0;
    font-size: 30px;
    margin-left: 800px;
    border-radius: 10px;
    box-shadow: 0px 3px 0px 0px yellow;
    transform: scale 4s;
    text-decoration: none;
    position: absolute;
    top: 10px
}

#behance:hover {
    cursor: pointer;
    transform: scale(1.1)
}

#kr {
    background-color: #ff6600;
    border: #ff6600;
    color: #ff0;
    font-size: 30px;
    margin-left: 800px;
    border-radius: 10px;
    box-shadow: 0px 3px 0px 0px yellow;
    transform: scale 4s;
    text-decoration: none;
    position: absolute;
    left: -600px;
    top: 10px
}

#kr:hover {
    cursor: pointer;
    transform: scale(1.1)
}

#clickBtn {
    background-color: #ff6600;
    border: #ff6600;
    color: #ff0;
    font-size: 30px;
    margin-left: 800px;
    border-radius: 10px;
    box-shadow: 0px 3px 0px 0px yellow;
    transform: scale 4s;
    text-decoration: none;
    max-width: 400px;
    margin-left: 200px;
    margin-top: 100px
}

#clickBtn.click {
    background-color: #ff6600;
    border: #ff6600;
    color: #ff0;
    font-size: 30px;
    margin-left: 800px;
    border-radius: 10px;
    box-shadow: 0px 3px 0px 0px yellow;
    transform: scale 4s;
    text-decoration: none;
}

#clickBtn:hover {
    cursor: pointer;
    transform: scale(1.1)
}

#srch {
    background-image: linear-gradient(70deg, yellow, red);
    color: black;
    border: yellow;
    font-size: 20px;
    position: absolute;
    top: 300px;
    right: 270px;
    top: 100px;
    left: 1300px;
    border-radius: 10px;

}

#srch::placeholder{
    color: black
}
#srchBtn {
    background-image: linear-gradient(70deg, yellow, red);
    color: black;
    border: yellow;
    font-size: 20px;
    position: absolute;
    top: 300px;
    right: 270px;
    top: 100px;
    left: 1640px;
    border-radius: 5px;

    cursor: pointer;
    transform: scale 4s;
}

#srchBtn:hover {
   transform: scale(1.1)
}
