html, body {
    background-color: #000;
    color: #fff;
    overflow: hidden;
}

* {
    font-family: 'Poppins';
    color: #fff;
    text-align: center;
}

@viewport {
    zoom: 1.0;
    width: extend-to-zoom;
}

@-ms-viewport {
    zoom: 1.0;
    width: extend-to-zoom;
}

#main {
    opacity: 0;
    transition: opacity 0.6s ease-in-out;
    -webkit-transition: opacity 0.6s ease-in-out;
    -moz-transition: opacity 0.6s ease-in-out;
    -ms-transition: opacity 0.6s ease-in-out;
    -o-transition: opacity 0.6s ease-in-out;
    align-items: center;
    align-content: center;
    justify-content: center;
    text-align: center;
}

#main.fade2 {
    opacity: 1;
}

#desc {
    opacity: 0;
    transition: opacity 0.6s ease-in-out;
    -webkit-transition: opacity 0.6s ease-in-out;
    -moz-transition: opacity 0.6s ease-in-out;
    -ms-transition: opacity 0.6s ease-in-out;
    -o-transition: opacity 0.6s ease-in-out;
}

#desc.fade3 {
    opacity: 1;
}

#buttons {
    display: none;
    opacity: 0;
    transition: opacity 0.6s ease-in-out;
    -webkit-transition: opacity 0.6s ease-in-out;
    -moz-transition: opacity 0.6s ease-in-out;
    -ms-transition: opacity 0.6s ease-in-out;
    -o-transition: opacity 0.6s ease-in-out;
}

#buttons.fade4 {
    display: unset;
}

#home, #tutLink, #downLink1 {
    background-color: #ff5e00;
    border: none;
    outline: none;
    font-size: 30px;
    border-radius: 2px;
    transition: 0.4s;
    cursor: pointer;
}

#home:hover, #tutLink:hover, #downLink1:hover {
    background-color: #fff;
    color: #ff5e00;
}

#tutLink {
    display: inherit;
    position: relative;
    left: 820px;
    margin-bottom: 50px
}

#tut1 {
    position: relative;
    right: 300px
}

#css1 {
    position: relative;
    left: 500px;
    top: -350px
}

#css1 h1 {
    position: relative;
    top: 30px;
    right: -50px
}

#downLink1 {
    position: relative;
    left: -240px;
    top: 50px
}

#css1 img {
    position: relative;
    left: 50px
}

#home {
    bottom: 200px;
    position: relative;
}

